<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Sign up</title>
</head>
<body>
    <div class="container" style="">
        <h1 style="text-align: center;"></h1>
        <div class="box" style="width: 500px; border-style: groove; margin-left: 28%;" >
            <div style="border-radius: 10px; border: 1px solid black; margin: 10px; background-color: aqua;">
                <h1 style="text-align: center;">Đăng ký</h1>
            </div>
            <form action="/dangKy" style="margin: 10px;" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control" id="email" placeholder="Nhập email: ">
                </div>

                <div class="form-group">
                    <label for="name">Họ và tên: </label>
                    <input type="text" class="form-control" id="name" placeholder="Nhập họ và tên: ">
                </div>

                <div class="form-group">
                    <label for="pass">Password: </label>
                    <input type="password" class="form-control" id="pass" placeholder="Nhập password: ">
                </div>
                    
                    <button type="submit" style="width: 40%; height: 40px; margin: 10px; margin-left: 150px;">Đăng ký</button>
            </form>
                    <div class="upload">
                        <form action="/uploadfile" enctype="multipart/form-data" method="POST"> 

                        <input type="file" name="myFile" />

                        <input type="submit" value="Upload a file"/>

                        </form>
                    </div>
        </div>
    </div>
</body>
</html>